<nav>
  <span>
    <a href="/"><img src="assets/logo.png" alt=""></a>
  </span>
  <ul>
<% if (loggedin) {%>
  <li class="loggedinItems"><a>Requests</a></li>
  <li class="loggedinItems"><a>Friends</a></li>
  <li class="loggedinItems"><a>Profile</a></li>
  <li id="logout"><a>Logout</a></li>

  <script>
    $("#logout").click(() => {
      document.cookie = `id=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/`;
      window.location.assign("/");
    })

    let tabs = document.querySelectorAll(".loggedinItems");
    let userId = document.cookie.split(';')[0].slice(3);
    tabs[0].firstChild.setAttribute("href", "/requestlist")
    tabs[1].firstChild.setAttribute("href", "/friendlist")
    tabs[2].firstChild.setAttribute("href", "/profile/" + userId)
  </script>
<%} else {%>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
<% } %>
  </ul>
</nav>
