<%- include('partials/header', {loggedin: loggedin}) %>
<center>
    <script>
        $.ajax({ method: "POST", url: "/friendList", data: {} })
            .done(function (data) {
                console.log(data);
                renderRecommentations(data);
            })
            .fail(function (err) {
                alert("Something went wrong!");
            });
    </script>
    <div id="friendList">
        
            <span class="recCont">
                <div class="recItem">
                    <span class="recImg">
                        <img src="" />
                    </span>
                    <span class="recName"></span>
                    <br/>
        <button name="button">Remove</button>
        <a><button name="button">view Profile</button></a>
                </div>
    </div>
 
</center>
<% -include('partials/footer') %>
<script>
  function renderRecommentations(data) {
    let container = document.querySelectorAll(".recItem");
    for (let i = 0; i < Math.min(container.length, data.length); i++) {
      let elem = container[i];
      elem.children[2].setAttribute("recId", data[i].Id);
      elem.children[0].children[0].setAttribute(
        "src",
        "/assets/images/" + data[i].Picture
      );
      elem.children[1].innerHTML = data[i].NickName;
      elem.children[3].setAttribute("href","myprofile?id="+data[i].Id);
      
    }
  }
</script>
