<%- include('partials/header', {loggedin: loggedin}) %>

<div class="homeCarosal">
  <center>
    <br />
    <br />
    <h1>FriendsNet</h1>
    <br>
    <h3>Because no friendship is an accident</h3>
    <br />
  </center>
</div>

<div>
  <center>
<% if (loggedin) {%>
  <script>
    $.ajax({
        method: "POST",
        url: "/friendsrecommendations",
        data: {}
      }).done(function(data) {
        renderRecommentations(data);
      }).fail(function(err) {
        alert("Something went wrong!");
      });

      function sendRequest(event){
        $.ajax({
          method: "POST",
          url: "/addfriend",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({"friendId" : event.getAttribute('recId')})
        }).done(function(data) {
          if (data){
            event.disabled = true;
            alert("Request sent successfully")
          }
          else{
            alert("Something went wrong!");
          }
        }).fail(function(err) {
          alert("Something went wrong!");
        });
      }

  </script>

  <div id="recommends">
    <h2>People you may know</h2>
    <br />
    <span class="recCont">
      <div class="recItem">
        <span class="recImg"><img src=""/></span>
        <span class="recName"></span>
        <br />
        <button name="button" onclick="sendRequest(this)">Add Friend</button>
      </div>
    </span>
    <span class="recCont">
      <div class="recItem">
        <span class="recImg"><img src=""/></span>
        <span class="recName"></span>
        <br />
        <button name="button" onclick="sendRequest(this)">Add Friend</button>
      </div>
    </span>
    <span class="recCont">
      <div class="recItem">
        <span class="recImg"><img src=""/></span>
        <span class="recName"></span>
        <br />
        <button name="button" onclick="sendRequest(this)">Add Friend</button>
      </div>
    </span>
  </div>
<%} else {%>
    <br /><br />
    <a href="/login"><button type="button" class="homeBtns">Login</button></a>
    <a href="/register"><button type="button" class="homeBtns">Register</button></a>
<% } %>
  </center>
</div>
<%- include('partials/footer') %>

<script>
  function renderRecommentations(data){
    data.sort(function() {
      return .5 - Math.random();
    });
    let container = document.querySelectorAll('.recItem')
    for (let i=0; i < Math.min(container.length, data.length); i++){
      let elem = container[i];
      elem.children[3].setAttribute("recId", data[i].Id);
      elem.children[0].children[0].setAttribute("src", "/assets/images/" + data[i].Picture);
      elem.children[1].innerHTML = data[i].NickName;
    }
  }
</script>
